* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 100vh;
    max-width: 1200vh;
    min-height: 85vh;
    background-color: rgb(206, 205, 205);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    font-family: "Courier New";
}

.left {
    position: inherit;
    background-color: rgb(222, 230, 231);
    padding: 20px;

}

.right {
    position: initial;
    background-color: rgb(219, 238, 240);
    padding: 20px;

}
.image,
.Contact,
.Skills,
.Language,
.Hobbies,
.title,
.Summary,
.Experience,
.Education,
.project {
    margin-bottom: 30px;
}

.h2 {
    background-color: rgb(4, 96, 150);

}

body,
h2,
h3 {
    font-family: "Geneva";
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.header {
    margin-bottom: 30px;
}

.full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.first-name {
    font-weight: 700;
}

.last-name {
    font-weight: 300;
}

.contact-info {
    margin-bottom: 20px;
}

.email,
.phone {
    color: #999;
    font-weight: 300;
}

th,
td {
  width: 500px;
  text-align:left;
   padding: 2px;
}
br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 3px; /* change this to whatever height you want it */
}

